@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Secular one;
}

body {
    background-color: rgb(200, 255, 200);
}

h1 {
    color: #00450e;
    font-family: Rubik Microbe;
    text-align: center;
    font-size: 80px;
    padding: 0 0 10px 0;
}

#menu-h{
    background-color: rgb(255, 255, 0);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    text-align: center;
    padding: 0;
}

#menu-h ul li {
    display: inline;
    font-size: 20px;
}

#menu-h ul li a {
    color: rgb(0, 0, 0);
    padding: 10px 10%;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(0, 130, 0);
    color: white;
}

img {
    width: 40%;
    margin: 10px;
    margin-inline-start: 15%;
}

.solo {
    margin-left: 30%;
}

h2 {
    text-align: center;
    color: rgb(5, 0, 120);
    font-size: 40px;
    padding-top: 40px;
}

.box_img {
    width: 70%;
}

div.box {
	width: 49.5%;
	display: inline-block;
}

div.box1 {
	width: 49.5%;
	display: inline-block;
}

div.box2 {
	width: 49.5%;
	display: inline-block;
}

footer {
    background-color: #fef40d;
    margin-top: 50px;
}

.rodape {
    margin: 0;
    width: 50%;
}